* { 
    box-sizing: border-box; 
}

body{
    background-color: #FEF6C2;
    text-decoration: #221881;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(background.gif);
}

header{
    background-color: #D2B48C;
    height: 150px;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
    display: block;
}

main{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    display: block;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

img{ 
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    text-align: left;
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h2{
    padding-left: 3em;
    padding-right: 2em;
}

h3{
    padding-left: 3em;
    padding-right: 2em;
}

h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 0;
    text-transform: capitalize;
    border-bottom: 2px solid #221811;
}

.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

p{
    padding-left: 3em;
    padding-right: 2em;
}

ul{
    padding-left: 3em;
    padding-right: 2em;
}

dl{
    padding-left: 3em;
    padding-right: 2em;
}

nav{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.5em;
    text-decoration: none;
    float: left;
    width: 250px;
    display: block;
}

nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

footer{
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
    display: block;
}

#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px grey;
}

#heroroad{
    background-image: url(heroroad.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

#heromugs{
    background-image: url(heromugs.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

#heroguitar{
    background-image: url(heroguitar.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

table{
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td{
    padding: 10px;
    text-align: left;
}

th{
    padding: 10px;
    text-align: center;
}

tr:nth-of-type(odd){
    background-color: #D2B48E;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#herojobs{
    background-image: url(herojobs.jpg);
    background-size: 100% 100%;
    height: 250px;
    background-repeat: no-repeat;
}

input{
    margin-bottom: 1em;
    display:block;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

form{
    padding: 2em;
}

#mysubmt{
    margin-left: 9.5em;
}